.navbar {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#connect_btn {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.mainSection {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.updateNumber,
.getInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
}

label {
    font-size: 2rem;
    color: rgb(26, 26, 26);
}

input {
    font-size: 2rem;
    border-radius: 0.4rem;
    padding: 0.8rem;
    margin: 1rem 0
}

.updateButton,
.getInfoButton {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 0.4rem;
    width: 50%;
    margin: 1rem auto;
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.4rem;
}

.details>h1 {
    color: rgb(31, 31, 31);
    margin: 0.4rem;
    font-size: 1.8rem;
}